<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Android_Photo_Booth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Android_Photo_Booth.Properties.Settings>
            <setting name="AdbPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PinCode" serializeAs="String">
                <value />
            </setting>
            <setting name="CameraApp" serializeAs="String">
                <value>STILL_IMAGE_CAMERA</value>
            </setting>
            <setting name="FocusKeepaliveInterval" serializeAs="String">
                <value>00:00:15</value>
            </setting>
            <setting name="DeviceImageFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteAfterDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkingFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="PublishFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="FileSelectionRegex" serializeAs="String">
                <value>^.*\.jpg$</value>
            </setting>
            <setting name="PublishFilenamePattern" serializeAs="String">
                <value>{0}</value>
            </setting>
            <setting name="DownloadImagesInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="PublishFilesPerFolder" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UseNfcScreenApi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CameraOpenTimeout" serializeAs="String">
                <value>00:00:30</value>
            </setting>
        </Android_Photo_Booth.Properties.Settings>
    </userSettings>
</configuration>